[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipdb = "*"
pytest = "*"
requests = "*"
seleneum = "*"
sqlalchemy-serializer = "*"


[dev-packages]

[requires]
python_version = "3.8"
